# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Logs
*.log

# Node.js
node_modules/

# React/Vite build folders
dist/
build/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Testing
.coverage
pytest_cache/

# Database
*.db